
.navbar-brand,
.nav-link,
.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .nav-dropdown .nav-link {
    color: white !important;
}

.navbar-nav .nav-item .nav-dropdown .nav-link:hover {
    color: white !important;
}

.logo-nome{
    margin-left: -80px;
    margin-right: 52px;
}

.logo-img{
    height: 50px;
    width: 150px;
    margin-left: -110px;
    margin-right: 55px;
}

.navbar-brand,
.nav-link,
.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .nav-dropdown .nav-link {
    color: white !important;
}

.navbar-nav .nav-item .nav-dropdown .nav-link:hover {
    color: white !important;
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: #1f2023 !important;
}

.navbar-nav .nav-item .dropdown-item {
    color: white !important;
}

.navbar-nav .nav-item .dropdown-item:hover {
    background-color: #343a40 !important;
    color: white !important;
}